.add-project-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-project-button:hover {
    background-color: #45a049;
  }

  .project-list-page {
    background-color: rgb(46, 64, 73);
  }